@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-L.ttf');
}

@font-face {
    font-family: chocoleta;
    src: url('../fonts/chocoleta.ttf');
}

.font-chocoleta {
	font-family: chocoleta, 'Georgia', serif;
}

#main-img-container { 
    width: 100%;
    overflow: hidden; 
	margin-bottom: 20px;
}

#main-img {
	opacity: 0.6;
	margin-top: -177px;
}

body { font-family: Ubuntu, 'Helvetica Neue', sans-serif; }

h2 { font-family: Ubuntu, 'Helvetica Neue', sans-serif; font-size: 40px; }

p { font-size: 16px; }

section {
	margin: 40px auto;
	width: 50%;
}

.img-responsive {
	width: 100%%;
	margin: 0 auto;
	display: block;
}

.centered-text {
	text-align: center;
}

/* Nav */

#logo-nav {
	font-family: chocoleta, 'Georgia', serif;
	font-size: 60px;
	color: #333;
	text-align: center;
	text-decoration: none;
	margin: 30px 0 auto;
	width: 100%;
	display: inline-block;
}

ul.nav > li { display: inline; margin-top: -63px; }

ul.nav li a {
    display: inline-block;
    text-align: center;
    padding: 35px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.nav li:nth-child(1), .nav li:nth-child(2) { float: left; }

ul.nav li:nth-child(3), .nav li:nth-child(4) { float: right; }

nav { margin: 0 auto; width: 700px; }

@media (min-width: 992px) {
	#logo-nav {
		font-family: chocoleta, 'Georgia', serif;
		font-size: 60px;
		color: #333;
		text-align: center;
		text-decoration: none;
		margin: 30px 0 auto;
		width: 100%;
		display: inline-block;
	}

	ul.nav > li { display: inline; margin-top: -63px; }

	ul.nav li a {
	    display: inline-block;
	    text-align: center;
	    padding: 35px 20px;
	    text-decoration: none;
	    transition: 0.3s;
	    font-size: 17px;
	}

	ul.nav li:nth-child(1), .nav li:nth-child(2) { float: left; }

	ul.nav li:nth-child(3), .nav li:nth-child(4) { float: right; }

	nav { margin: 0 auto; width: 700px; }
}

@media (min-width: 544px) {

}
