/* Variables */

$body-font: Karla-Regular;
$body-font-fallback: 'Helvetica Neue';
$logo-font: chocoleta;
$logo-font-fallback: 'Georgia';
$z-index-nav: 1;
$z-index-nav-logo: 2;
$z-index-nav-li: 3;
$center: 0 auto;
$table-padding: 10px 30px 10px 30px;
$body-text-color: #333333;

/* grid-template-area aliases */
header {
	grid-area: header;
}
#about {
	grid-area: about;
}
#classes {
	grid-area: classes;
}
#testimonials {
	grid-area: testimonials;
}
#gallery {
	grid-area: gallery;
}
#contact {
	grid-area: contact;
}
footer {
	grid-area: footer;
}

/* Typefaces */

@font-face {
	font-family: $body-font;
	src: url('../fonts/Karla-Regular.ttf');
}

@font-face {
	font-family: chocoleta;
	src: url('../fonts/chocoleta.ttf');
}

body {
	font-family: $body-font, $body-font-fallback, sans-serif;
	color: $body-text-color;
	// grid-template-columns: 1fr;
	// grid-template-rows: 100%;
	max-width: 1264px;
	height: 100vh;
	margin: $center;
	display: grid;
	grid-template-areas: "header"
						 "about"
						 "classes"
						 "testimonials"
						 "gallery"
						 "contact"
						 "footer";
	grid-template-columns: 1fr;
	grid-template-rows: 100px repeat(5, auto) 30px;

	h1 {
		text-align: center;
	}

	a {
		text-decoration: none;
	};

	header {
		position: fixed;
		background-color: white;
		top: 0px;
		width: 1264px;
		padding: 30px 0;

		nav {
			display: grid;
			grid-template-columns: 40% 15% 15% 15% 15%;
			grid-template-rows: 1fr;
			z-index: $z-index-nav;

			a {
				color: $body-text-color;

				&:not(#logo-nav) {
					margin-top: 37%
				}

				&:hover {
					text-decoration: underline;
				}
			}

			#logo-nav {
				font-family: $logo-font, $logo-font-fallback, serif;
				font-size: 60px;
				color: $body-text-color;
				text-decoration: none;
				z-index: $z-index-nav-logo;
			}
		}
	}

	// main {
	// 	margin-top: 132px;

		section {
			margin: $center;
			margin: 0 auto 80px auto;
		}

		h1 {
			background-color: rgba(105, 36, 180, 0.08);
			padding: 10px 0;
		}

		#about {
			display: grid;
			grid-template-columns: 300px 1fr;
			grid-template-rows: 1fr;
			grid-gap: 10px;
			margin-top: 32px;
		}

		#classes {
			table {
				width: 1264px;
				margin: $center;
				box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
				border-collapse: collapse;

				thead {
					font-weight: 800;
					white-space: nowrap;

					th {
						text-align: left;
						padding: $table-padding;
					}
				}
				
				tbody {
					overflow-wrap: break-word;

					tr {
						&:nth-of-type(odd) {
							background: #f8f8f8;
						}

						td {
							padding: $table-padding;
						}
					}
				}
			}
		}

		#gallery {
			width: 100%;

			#photos {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 100%;
				grid-gap: 10px;

				img {
					max-width: 400px;
					margin: $center;
				}
			}
		}

		#contact {
			.icons {
				display: grid;
				grid-template-columns: repeat(4, 25%);
				grid-template-rows: 100%;
				margin: 0 auto 100px auto; 
				width: 400px;
				
				a {
					margin: $center;
				}

				.facebook-icon {
					height: 50px;
				}

				svg {
					fill: $body-text-color;
				}
			}
		}
	// }
}

// TODO: Refactor/remove these once new typefaces chosen.

h1, h2, h3 {
	font-family: $body-font, $body-font-fallback;
}

h1 {
	font-size: 40px; 
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
	margin-top: 0;
	line-height: 1.5em;
}

figure:not(:last-child) {
	margin-bottom: 50px;
}

blockquote {
	padding-left: 1rem;
	border-left: 4px solid rgba(0, 0, 0, 0.1);
}

figcaption {
	font-size: 87.5%;
	color: rgba(49, 52, 57, 0.65);
	padding-top: 10px;
}

// TODO: Refactor.
/* Responsive */

@media (min-width: 769px) {
	ul.nav > li {
		margin-top: -63px;
	}

	ul.nav li:nth-child(1), .nav li:nth-child(2) {
		float: left;
		margin-right: 25px;
	}
	ul.nav li:nth-child(3), .nav li:nth-child(4), .nav li:nth-child(5) {
		float: right;
		margin-right: -22px;
	}
}

@media (max-width: 768px) {
	section {
		margin: 40px 15px;
		width: auto;
	}

	ul.nav {
		display: block;
		text-align: center;
	}
}

@media (max-width: 544px) {
	section {
		margin: 40px 15px;
	}

	#logo-nav {
		display: block;
		width: auto;
		float: left;
		margin: 30px 0 15px 15px;
	}

	ul.nav > li {
		display: block; margin: 10px;
	}

	ul.nav { 
		display: inline;
		float: left;
		clear: left;
	}

	nav {
		width: auto;
	}

	ul.nav li a {
		padding: 0;
	}
}
