/* Variables */

$body-font: Karla-Regular;
$body-font-fallback: 'Helvetica Neue';
$logo-font: chocoleta;
$logo-font-fallback: 'Georgia';
$z-index-nav: 1;
$z-index-nav-logo: 2;
$z-index-nav-li: 3;
$center: 0 auto;

@font-face {
	font-family: $body-font;
	src: url('../fonts/Karla-Regular.ttf');
}

@font-face {
	font-family: chocoleta;
	src: url('../fonts/chocoleta.ttf');
}

body {
	font-family: $body-font, $body-font-fallback, sans-serif;
	color: #333333;
	// grid-template-columns: 1fr;
	// grid-template-rows: 100%;
	max-width: 1264px;
	// for sticky footer
	height: 100vh;
	min-height: 100vh;
	margin: $center;
	display: grid;
	grid-template-areas: "header"
						 "about"
						 "classes"
						 "testimonials"
						 "gallery"
						 "contact"
						 "footer";
	grid-template-columns: 1fr;
	grid-template-rows: 100px 
                      repeat(5, 1fr)
                      30px;

	h1 {
		text-align: center;
	}

	a {
		text-decoration: none;
	}

	header {
		grid-area: header;
		padding: 30px 0;

		nav {
			display: grid;
			grid-template-columns: 40% 15% 15% 15% 15%;
			grid-template-rows: 1fr;
			z-index: $z-index-nav;

			a {
				// margin: $center;

				&:not(#logo-nav) {
					margin-top: 37%
				}
			}

			#logo-nav {
				font-family: $logo-font, $logo-font-fallback, serif;
				font-size: 60px;
				color: #333;
				text-decoration: none;
				z-index: $z-index-nav-logo;
			}
		}
	}

	footer {
		grid-area: footer;
	}

	main {
		margin-top: 30px;

		section {
			margin: $center;

			&:not(#about) {
				margin: 100px auto;
			}
		}

		h1 {
			background-color: #efefef;
			padding: 10px 0;
		}

		#about {
			grid-area: about;

			display: grid;
			grid-template-columns: 300px 1fr;
			grid-template-rows: 1fr;
			grid-gap: 10px;

			#about-text p {
				// font-size: 24px;
			}
		}

		#classes {
			grid-area: classes;
		}

		#testimonials {
			grid-area: testimonials;
		}

		#gallery {
			grid-area: gallery;

			#photos {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 100%;
				grid-gap: 10px;

				img {
					max-width: 400px;
					margin: $center;
				}
			}
		}

		#contact {
			grid-area: contact;

			margin: 0 auto 100px auto; 
			width: 400px;

			p {
				margin: $center;
			}

			.icons {
				display: grid;
				grid-template-columns: repeat(4, 25%);
				grid-template-rows: 100%;
				
				a {
					margin: $center;
				}

				.facebook-icon {
					height: 50px;
				}
			}
		}
	}
}

// TODO: Refactor/remove these once new typefaces chosen.

h1, h2, h3 {
	font-family: $body-font, $body-font-fallback;
}

h1 {
	font-size: 40px; 
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 16px;
}

/* Responsive */

@media (min-width: 769px) {
	ul.nav > li {
		margin-top: -63px;
	}

	ul.nav li:nth-child(1), .nav li:nth-child(2) {
		float: left;
		margin-right: 25px;
	}
	ul.nav li:nth-child(3), .nav li:nth-child(4), .nav li:nth-child(5) {
		float: right;
		margin-right: -22px;
	}
}

@media (max-width: 768px) {
	section {
		margin: 40px 15px;
		width: auto;
	}

	ul.nav {
		display: block;
		text-align: center;
	}
}

@media (max-width: 544px) {
	section {
		margin: 40px 15px;
	}

	#logo-nav {
		display: block;
		width: auto;
		float: left;
		margin: 30px 0 15px 15px;
	}

	ul.nav > li {
		display: block; margin: 10px;
	}

	ul.nav { 
		display: inline;
		float: left;
		clear: left;
	}

	nav {
		width: auto;
	}

	ul.nav li a {
		padding: 0;
	}
}
